<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>

        <h1>display_Student</h1>

        <table border="2px">

            <tr>
                <th>ScName</th>
                <th>SName</th>
                <th>Sid</th>
            </tr>

            {% for st in QSTO %}

            <tr>
                <td>{{st.ScName}}</td>
                <td>{{st.SName}}</td>
                <td>{{st.Sid}}</td>
            </tr>

            {% endfor %}

        </table>
    </center>

</body>
</html>